<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC
    "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans
  default-autowire="no"
  default-lazy-init="false"
  default-dependency-check="none"
>

  <bean
      id="quizDao"
      class="org.ahp.vinavidai.dao.QuizDaoImpl"
  >

  </bean>

  <bean
      id="testService"
      class="org.ahp.vinavidai.test.TestService"
  >

    <property name="testDao">
      <ref bean="testDao"/>
    </property>
  </bean>

  <bean
      name="/ManageQuiz"
      class="org.ahp.vinavidai.quiz.manage.action.ManageQuiz"
  >

    <property name="quizSearchService">
      <ref bean="quizSearchService"/>
    </property>
  </bean>

  <bean
      id="ahpBootstrapManager"
      class="org.ahp.core.bootstrap.AhpBootstrapManager"
  >

    <property name="ahpLoggerManager">
      <ref bean="ahpLoggerManager"/>
    </property>
    <property name="ahpConfigurationManager">
      <ref bean="ahpConfigurationManager"/>
    </property>
    <property name="ahpMessageResourceManager">
      <ref bean="ahpMessageResourceManager"/>
    </property>
  </bean>

  <bean
      id="ahpMessageResourceManager"
      class="org.ahp.core.managers.AhpMessageResourceManager"
  >

  </bean>

  <bean
      id="registrationDao"
      class="org.ahp.registration.dao.RegistrationDaoImpl"
  >

  </bean>

  <bean
      name="/ProcessEditQuestion"
      class="org.ahp.vinavidai.quiz.action.ProcessEditQuestion"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      id="testDao"
      class="org.ahp.vinavidai.dao.TestDaoImpl"
  >

  </bean>

  <bean
      name="/DisplayEditQuestion"
      class="org.ahp.vinavidai.quiz.action.DisplayEditQuestion"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      name="/ProcessCreateQuestion"
      class="org.ahp.vinavidai.quiz.action.ProcessCreateQuestion"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      id="quizSearchDao"
      class="org.ahp.vinavidai.dao.QuizSearchDaoImpl"
  >

  </bean>

  <bean
      name="/DisplayCreateQuiz"
      class="org.ahp.vinavidai.quiz.action.DisplayCreateQuiz"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      id="ahpConfigurationManager"
      class="org.ahp.core.managers.AhpXmlConfigurationManager"
  >

  </bean>

  <bean
      name="/DisplayEditQuiz"
      class="org.ahp.vinavidai.quiz.action.DisplayEditQuiz"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      name="registrationValidator"
      class="org.ahp.vinavidai.validator.RegistrationValidator"
  >

    <property name="registrationService">
      <ref bean="registrationService"/>
    </property>
  </bean>

  <bean
      id="forgotPasswordDao"
      class="org.ahp.login.dao.ForgotPasswordDaoImpl"
  >

  </bean>

  <bean
      name="/ProcessCreateQuiz"
      class="org.ahp.vinavidai.quiz.action.ProcessCreateQuiz"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      id="forgotPasswordService"
      class="org.ahp.login.forgot.password.service.ForgotPasswordService"
  >

    <property name="registrationDao">
      <ref bean="registrationDao"/>
    </property>
    <property name="forgotPasswordDao">
      <ref bean="forgotPasswordDao"/>
    </property>
    <property name="loginDao">
      <ref bean="loginDao"/>
    </property>
    <property name="ahpJmsProducer">
      <ref bean="ahpJmsProducer"/>
    </property>
  </bean>

  <bean
      name="forgotPasswordValidator"
      class="org.ahp.vinavidai.validator.ForgotPasswordValidator"
  >

    <property name="registrationService">
      <ref bean="registrationService"/>
    </property>
  </bean>

  <bean
      id="quizSearchService"
      class="org.ahp.vinavidai.quiz.QuizSearchService"
  >

    <property name="quizSearchDao">
      <ref bean="quizSearchDao"/>
    </property>
  </bean>

  <bean
      name="/ProcessQuizConsole"
      class="org.ahp.vinavidai.console.action.ProcessQuizConsole"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      name="/ProcessEditQuiz"
      class="org.ahp.vinavidai.quiz.action.ProcessEditQuiz"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      name="/ProcessPublishQuiz"
      class="org.ahp.vinavidai.quiz.action.ProcessPublishQuiz"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      name="/ProcessDeleteQuiz"
      class="org.ahp.vinavidai.quiz.action.ProcessDeleteQuiz"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      id="loginService"
      class="org.ahp.login.LoginService"
  >

    <property name="loginDao">
      <ref bean="loginDao"/>
    </property>
  </bean>

  <bean
      name="ahpJmsProducer"
      class="org.ahp.core.messaging.AhpJmsProducer"
  >

    <property name="jmsConnectionFactory">
      <ref bean="jmsConnectionFactory"/>
    </property>
  </bean>

  <bean
      id="ahpLoggerManager"
      class="org.ahp.core.managers.AhpLogBackLoggerManager"
  >

  </bean>

  <bean
      name="/ProcessLogin"
      class="org.ahp.login.action.ProcessLogin"
  >

    <property name="loginService">
      <ref bean="loginService"/>
    </property>
  </bean>

  <bean
      id="quizService"
      class="org.ahp.vinavidai.quiz.QuizService"
  >

    <property name="quizDao">
      <ref bean="quizDao"/>
    </property>
  </bean>

  <bean
      id="loginDao"
      class="org.ahp.login.dao.LoginDaoImpl"
  >

  </bean>

  <bean
      id="registrationService"
      class="org.ahp.registration.RegistrationService"
  >

    <property name="registrationDao">
      <ref bean="registrationDao"/>
    </property>
  </bean>

  <bean
      name="/DisplayQuizConsole"
      class="org.ahp.vinavidai.console.action.DisplayQuizConsole"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      name="/DisplayPublishQuiz"
      class="org.ahp.vinavidai.quiz.action.DisplayPublishQuiz"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <bean
      id="ahpBootstrapListener"
      class="org.ahp.core.bootstrap.AhpBootstrapListener"
  >

    <property name="ahpBootstrapManager">
      <ref bean="ahpBootstrapManager"/>
    </property>
  </bean>

  <bean
      name="/DisplayCreateQuestion"
      class="org.ahp.vinavidai.quiz.action.DisplayCreateQuestion"
  >

    <property name="quizService">
      <ref bean="quizService"/>
    </property>
  </bean>

  <!--
     To include additional bean definitions for Spring in the generated
     application context file, add a file to your XDoclet merge directory
     called spring-beans.xml that contains the <bean></bean> markup.
  -->

</beans>
