/* Tips for Elastic layouts 
1. Since the elastic layouts overall sizing is based on the user's default fonts size, they are more unpredictable. Used correctly, they are also more accessible for those that need larger fonts size since the line length remains proportionate.
2. Sizing of divs in this layout are based on the 100% font size in the body element. If you decrease the text size overall by using a font-size: 80% on the body element or the #container, remember that the entire layout will downsize proportionately. You may want to increase the widths of the various divs to compensate for this.
3. If font sizing is changed in differing amounts on each div instead of on the overall design (ie: #sidebar1 is given a 70% font size and #mainContent is given an 85% font size), this will proportionately change each of the divs overall size. You may want to adjust based on your final font sizing.
*/

/**
If we set:
body{ font-size:1em; }

Howerver, IE has a problem with ems. 
Resizing text from medium (default) to large in IE5/6 would lead to a huge increase in font size rather than the gradual one expected. 
So another selector is needed to get IE to behave:
**/

html {
    font-size: 100%;
} 
/**
body font size will be 16px by default for all browsers. 
We also know that if a person has changed their settings, our elastic interface will not break, but adjust. 
Perfect, so we can set:
font-size:1em;
**/
body {
    background: #fff;
    color: #000000;
    font-family: Lucida,Lucida Grande,Tahoma,sans-serif;
    margin: 0;
    min-width: 1005px;
    padding: 0;
    font-size: 75%;
}

#rootContainer {    
    margin: 0;
    min-width: 985px;
    padding: 5px 20px 20px 20px;

    /*width: 46.25em;
    margin: 1.5em auto;
    border: 0.063em solid #ccc;
    text-align: left;
    padding: 20px; 20px; 20px; 20px;*/
}

#bodyContent {
    background: #FFFFFF;
    /*border: 0.063em solid red;*/
    clear: both;
    width:100%
}

#homePageContentBox{
    float:left;
    width:65%;
    height:80%;
    /*border-style:solid;
    border-color:#49bf20;
    border-width:3px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;*/
    margin: 80px 0px 0px 0px;
}
#loginBox {
    float:right;
    padding: 25px 25px 25px 25px;
    margin: 100px 0px 0px 0px;
    border-style:solid;
    border-color:#49bf20;
    border-width:1px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    background:#e5eec8;
    width:25%;
}

#registrationBox {
    padding: 25px 25px 25px 25px;
    border-style:solid;
    border-color:#49bf20;
    border-width:1px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    background:#e5eec8;
    width:25%;
}

.loginTextBold{
    font-weight:bold;
    text-align:left;
    margin: 5px 0px 5px 0px;
    font-size: 1.25em;
}

.loginText{
    text-align:left;
    margin: 5px 0px 5px 0px;
    font-size: 1.25em;
}

.signin-box input[type="text"], .signin-box input[type="password"] {
    direction: ltr;
    font-size: 15px;
    height: 32px;
    width: 100%;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    padding: 0 8px;
}

#bodyContent h1{
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    text-align: left;
}

#bodyContent h2{
    font-size: 1.75em;
    line-height: 1em;
    font-weight: bold;
    text-align: left;
}

#bodyContent h3{
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    text-align: left;
}

#ahpHeader {
    color: #FFFFF;
    display: block;    
    width:100%;
    background:rgb(0,102,51);
}

#ahpHeader ol {
    list-style:none;
    text-align: right;
    display:block;
    list-style:none outside none;
    margin: 0;
    padding: 0;
}

#ahpHeader li {
    display:inline-block;    
    font-size: 11px;
    line-height: 27px;
    margin: 0pt;
    padding: 0pt;
    white-space: nowrap;
    vertical-align: top;
}

#ahpHeader a:link{
    font-size:1.25em;
    text-decoration:none! important;
    cursor:pointer;
    display:block;    
    color:rgb(255, 255, 255) !important;
}
#ahpHeader a:visited{
    font-size:1.25em;
    text-decoration:none! important;
    cursor:pointer;
    display:block;
    color:rgb(255, 255, 255) !important;
}
#ahpHeader a:hover{
    font-size:1.25em;
    text-decoration:none! important;
    cursor:pointer;
    display:block;
    color:rgb(187, 187, 187) !important;
}
#ahpHeader a:active{
    font-size:1.25em;
    text-decoration:none! important;
    cursor:pointer;
    display:block;
    color:rgb(187, 187, 187) !important;
}

#ahpHeader a span {
    background-color:transparent;
    background-image:none;
    padding: 0px 9px;
    position:relative;
    border-left:1px solid transparent;
    border-right: 1px solid transparent;
    display:block;
    
}

#ahpHeader span {
    background-color:transparent;
    background-image:none;
    color:rgb(255,255,255) !important;
    padding: 0px 9px;
    position:relative;
    float:left;
    line-height:27px;
}

#ahpFooter {
    color: #333333;
    font: 10px/11px arial,helvetica,sans-serif;
    padding-left: 0;
    padding-top: 0px;
    position: relative;
    text-align: center;
    width:98%;
}

#ahpFooter ul {
    list-style:none;
    text-align: center;
    width:98%;
}

#ahpFooter li {
    display:inline;
    overflow: visible;
    font-size: 14px;
    line-height: 10px;
    margin: 0 5px 4px -4px;
    padding: 0 4px;
    white-space: nowrap;
    /*border-left: 1px solid #5D5D5D;*/
    vertical-align: baseline;
}

#ahpPaginationTable{
    width:100%;
    border-style:solid;
    border-color:#015d3e;
    border-width:3px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 8px 8px 8px 8px; 
    font-size:1em;   
}
#ahpPaginationTableWhite{
    background: #FFF;
    font-size:1em;
}

#ahpPaginationTable tr:nth-child(even) {
    background: #c0edde;
}
#ahpPaginationTable tr:nth-child(odd) {
    background: #FFF;
}
#ahpPaginationTable th{
    font-weight: bold;
    padding-right: 0.8em;
    padding-left: 0.8em;
    background-color: #018c5d;
    color: #FFF;
    font-size:1em;
}

#ahpFormTable{
    width:100%;
    border-style:solid;
    border-color:#015d3e;
    border-width:3px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 8px 8px 8px 8px;
    font-size: 1em;    
}
#ahpFormTable td{
    background:#e5eec8;
    vertical-align:middle;
    font-size: 1em;
}

#ahpFormTablePlain{
    width:100%;
    font-size: 1em;
}
#ahpFormTablePlain td{
    vertical-align:middle;
    font-size: 1em;
}
#ahpDivBox{
    width:100%;
    border-style:solid;
    border-color:#015d3e;
    border-width:3px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 8px 8px 8px 8px;
}
#formSubmit {
    text-align:right;
    margin: 10px 0px;
    padding: 5px 0px;
}
.ahpHyperLinkBox{
    border-style:solid;
    border-color:#015d3e;
    border-width:1px;
    -webkit-border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    border-radius: 1px 1px 1px 1px; 
    font-size:1.25em;
    padding: 3px 3px;
    background: #c0edde;   
}

.ahpHyperLinkBox a:link{
	font-size:.85em;
	text-decoration:none;
	color:#000000;
}
.ahpHyperLinkBox a:visited{
    font-size:.85em;
    text-decoration:none;
    color:#000000;
}
.ahpHyperLinkBox a:hover{
    font-size:.85em;
    text-decoration:underline;
    color:#000000;
}
.ahpHyperLinkBox a:active{
    font-size:.85em;
    text-decoration:underline;
    color:#000000;
}
.ahpFormFieldSet{
    border-style:solid;
    border-color:#015d3e;
    border-width:3px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 8px 8px 8px 8px;
    font-size: 1em;    
}
.ahpFormLabel{
    width: 6em;   
}

.ahpFormLabelTip{
    width: 6em;
    font-size: 55%;
    color:#F0F0F0;
}
.ahpError { 
    color: red; 
}