<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn://vina-vidai/schemas/java/web-app_2_4.xsd" 
         version="2.4">
    <display-name>Vina Vidai</display-name>
   
    <distributable/>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>org.vv.ApplicationResources</param-value>
        <description><![CDATA[]]></description>
    </context-param>
   
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
        <param-value>en</param-value>
        <description><![CDATA[]]></description>
    </context-param>
    
    <!-- SPRING CONTEXT PARAMETER --> 
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/CONFIG/SPRING/applicationContext-beans.xml /WEB-INF/CONFIG/SPRING/applicationContext-datasource.xml /WEB-INF/CONFIG/SPRING/applicationContext-emf.xml /WEB-INF/CONFIG/SPRING/applicationContext-tx-aop.xml /WEB-INF/CONFIG/SPRING/applicationContext-tx-advice.xml /WEB-INF/CONFIG/SPRING/spring-mvc-servlet.xml /WEB-INF/CONFIG/SPRING/applicationContext-jms.xml /WEB-INF/CONFIG/SPRING/applicationContext-propertyPlaceholder.xml /WEB-INF/CONFIG/WEB-SERVICES/CXF/applicationContext-ws-cxf.xml</param-value>
    </context-param>
    
    <!-- SPRING LISTENER --> 
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>org.ahp.filters.LoginFilter</filter-class>
    </filter>
    <!-- This should be removed --> 
    <filter>
        <filter-name>entityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
        <init-param>
            <param-name>entityManagerFactoryBeanName</param-name>
            <param-value>entityManagerFactory</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    
    <!-- This should be removed --> 
    <filter-mapping>
        <filter-name>entityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- STRUTS Servlet --> 
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/CONFIG/STRUTS/struts-config.xml</param-value>           
        </init-param>
        <init-param>
            <param-name>application</param-name>
            <param-value>org.vv.commons.ApplicationResources</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>  

    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <!-- CXF Servlet -->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    
    
    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/CONFIG/SPRING/spring-mvc-servlet.xml</param-value>           
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>*.ahp</url-pattern>
    </servlet-mapping>

    <!-- 
    <error-page>
        <error-code>400</error-code>
        <location>/error.jsp</location>
        <error-code>404</error-code>
        <location>/error.jsp</location>
        <error-code>500</error-code>
        <location>/error.jsp</location>
        <exception-type>java.lang.Exception</exception-type>
    </error-page>
    http://www.coderanch.com/how-to/java/JstlTagLibDefinitions
    -->
    
    <session-config>
        <session-timeout>240</session-timeout>
    </session-config>
    
</web-app>